<h2>{{titulo}}</h2>

<form (submit)="guardarCambios()" [formGroup]="form">
  <div>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input [formControl]="form.controls.nombre" matInput>
  </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Marca</mat-label>
      <input [formControl]="form.controls.marca" matInput>
    </mat-form-field>
  </div>
  <div>

    <mat-form-field appearance="outline">
      <mat-label>Precio</mat-label>
      <input [formControl]="form.controls.precio" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Stock</mat-label>
      <input [formControl]="form.controls.stock" matInput>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-flat-button>Guardar Cambios</button>
    <a mat-stroked-button routerLink="/productos">Cancelar</a>
  </div>

</form>
